<!-- Footer -->
    <footer class="footer mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">
                        <strong>GIS v4.0</strong> - GDS Informations System
                    </p>
                    
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-0">
                        &copy; {% now "Y" %} GIS v4.0 Christian Angermeier, Alle Rechte vorbehalten.
                    </p>
                </div>
            </div>
        </div>
    </footer>