{% extends "auftragsverwaltung/auftragsverwaltung_base.html" %}

{#
    Base layout template for the Lieferantenwesen module.
    All Lieferantenwesen templates should extend this.

    Das Lieferantenwesen ist fachlich Teil der Auftragsverwaltung und erbt
    deshalb deren Layout inkl. linker Sidebar. Seitenkopf (page_title /
    page_actions) und Flash-Messages werden bereits vom Elterntemplate
    gerendert und dürfen hier nicht erneut ausgegeben werden.
#}

{% block page_title %}Lieferantenwesen{% endblock %}

{% block content %}{% block main_content %}{% endblock %}{% endblock %}
